/* SNG Sans Light */
@font-face {
    font-family: "SNG Sans";
    src: url("/fonts/SNGSans/SNGSans-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  /* SNG Sans Regular */
  @font-face {
    font-family: "SNG Sans";
    src: url("/fonts/SNGSans/SNGSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  /* SNG Sans Medium */
  @font-face {
    font-family: "SNG Sans";
    src: url("/fonts/SNGSans/SNGSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  /* SNG Sans Bold */
  @font-face {
    font-family: "SNG Sans";
    src: url("/fonts/SNGSans/SNGSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  /* Circular Regular */
  @font-face {
    font-family: "Circular";
    src: url("/fonts/Circular/lineto-circular-pro-book.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  